

/* TABLE */

.class-h2 {
    color: rgb(0, 0, 0);
    font-style: bold;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    padding-left: 40px;
}

.class-menu-h3 {
    display: inline-block;
    margin: 20px 35% 0;
    font-size: 45px;
    width: 1000px;
}

TABLE {
    color: #000;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin: 30px;
}

TD,
TH {
    padding: 15px;
    border: 1px solid #1e8ac0;
}

TH {
    text-align: left;
}

/* BASE */

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask3043%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsRadialGradient3044)'%3e%3c/rect%3e%3cpath d='M1920 0L1872.18 0L1920 79.11z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1872.18 0L1920 79.11L1920 375.31L1310.67 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1310.67 0L1920 375.31L1920 747.5699999999999L580.4900000000001 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M580.49 0L1920 747.5699999999999L1920 899.9599999999999L529.57 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 1080L57.37 1080L0 641.53z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 641.53L57.37 1080L640.33 1080L0 494.79999999999995z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 494.79999999999995L640.33 1080L853.61 1080L0 461.91999999999996z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 461.91999999999996L853.61 1080L922.5 1080L0 264.16999999999996z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask3043'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='100%25' cy='100%25' r='2202.91' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient3044'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

a1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:150%;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

dt {
    color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7373D9;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #090974;
}

.is-selected {
  display: none;
}

.form-shedule {
    color: rgb(255, 255, 255);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    border-radius: 18px;
    background: #7373D9;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-style: bold;
    font-size: 20px;
    line-height: 30px;
    max-width: 316px;
    margin: 0 auto;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

.choice {
    cursor: pointer;
    font-style: bold;
    font-size: 20px;
    line-height: 30px;
    max-width: 316px;
    margin: 0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form {
    max-width: 320px;
    padding: 15px;
    margin: 20px auto;
    background-color: #fff;
}
  
.input {
    display: block;
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 16px;
}

.form-sub {
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 18px;
    background: #7373D9;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-style: bold;
    font-size: 20px;
    line-height: 30px;
    max-width: 316px;
    margin: 10px auto;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}