

/* TABLE

.class-h2 {
    color: rgb(0, 0, 0);
    font-style: bold;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    padding-left: 40px;
}


.class-menu-h3 {
    display: inline-block;
    margin: 20px 35% 0;
    font-size: 45px;
    width: 1000px;
}

TABLE {
    color: #000;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin: 30px;
}

TD,
TH {
    padding: 15px;
    border: 1px solid #1e8ac0;
}

TH {
    text-align: left;
} */

/* BASE

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask3043%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsRadialGradient3044)'%3e%3c/rect%3e%3cpath d='M1920 0L1872.18 0L1920 79.11z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1872.18 0L1920 79.11L1920 375.31L1310.67 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1310.67 0L1920 375.31L1920 747.5699999999999L580.4900000000001 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M580.49 0L1920 747.5699999999999L1920 899.9599999999999L529.57 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 1080L57.37 1080L0 641.53z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 641.53L57.37 1080L640.33 1080L0 494.79999999999995z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 494.79999999999995L640.33 1080L853.61 1080L0 461.91999999999996z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 461.91999999999996L853.61 1080L922.5 1080L0 264.16999999999996z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask3043'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='100%25' cy='100%25' r='2202.91' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient3044'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

dt {
    color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7373D9;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #090974;
}

.is-selected {
  display: none;
} */

/* style.css */

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: #101010;
}

.container {
   margin-left: auto;
    margin-right: auto;
}

.header {
    background-image: url(bg1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 200px;
}

.nav-item {
    color: #31ff00;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-right: 25px;
    border-radius: 10px;
    transition: color 0.3s linear;
    -webkit-transition: 0.9s; /* плавный переход  */
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
     padding: 0.3em 0.3em;
     
}

.nav-item:hover {
    color: #000000;
    background: #ffffff;
}

.nav-active {
    color: #ffe200;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-right: 25px;
    border-radius: 10px;
    transition: color 0.3s linear;
    background: #ffffff;
    color: #000000;
    padding: 0.3em 0.3em;
     -webkit-transition: 0.9s; /* плавный переход  */
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
}

.nav-active:hover {
    color:#31ff00;
    background: none;
}


.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    margin-right: 300px;
    transition: color 0.3s linear;
}

.num:hover {
    color: #31ff00;
}

.phone-text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.phone-holder {
    display: flex;
    align-items: center;
}


.header-down {
    position: relative;
}

.header-title {
    color: #31ff00;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin-left: 300px;
    text-align: center;
    position: absolute;
    left: 0;

    margin-top: 222px;
    margin-bottom: 132px;
}

.header-suptitle {
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;


}

.header-suptitle:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 127px;
    left: 56px;
}

.header-suptitle:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 127px;
    left: 308px;
}

/* style-entrance.css */

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: #101010;
    
}

.container {
   margin-left: auto;
    margin-right: auto
}

.header {
    background-image: url(bg1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: #31ff00;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-right: 20px;
    border-radius: 10px;
    transition: color 0.3s linear;
    -webkit-transition: 0.9s; /* плавный переход  */
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
     padding: 0.3em 0.3em;
     
}

.nav-item:hover {
    color: #000000;
    background: #ffffff;
}

.nav-active {
    color: #ffe200;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-right: 20px;
    border-radius: 10px;
    transition: color 0.3s linear;
    background: #ffffff;
    color: #000000;
    padding: 0.3em 0.3em;
     -webkit-transition: 0.9s; /* плавный переход  */
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
}

.nav-active:hover {
    color:#31ff00;
    background: none;
}



.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;

    transition: color 0.3s linear;
}

.num:hover {
    color: #d81d1d;
}

.phone-text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.phone-holder {
    display: flex;
    align-items: center;
}


.header-down {
    position: relative;
}

.header-title {
    color: #31ff00;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 400;

    text-align: center;
    position: absolute;
    left: 0;

    margin-top: 10px;
    margin-bottom: 132px;
}



.container {
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
}


.signupFrm{
    margin-top: 80px;
    display: flex;
   
    
}

.form {
  background-color: white;
  width: 400px;
  border-radius: 40px;
  padding: 10px 20px;
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: purple;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.submitBtn:hover {
  background-color: #9867C5;
  transform: translateY(-2px);
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: purple;
}

.input:focus {
  border: 2px solid purple;
}

.input:not(:placeholder-shown)+ .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

/* style-Registration.css */

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: #101010;
    
}

.container {
   margin-left: auto;
    margin-right: auto
}

.header {
    background-image: url(bg1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: #31ff00;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-right: 25px;
    border-radius: 10px;
    transition: color 0.3s linear;
    -webkit-transition: 0.9s; /* плавный переход  */
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
     padding: 0.3em 0.3em;
     
}

.nav-item:hover {
    color: #000000;
    background: #ffffff;
}

.nav-active {
    color: #ffe200;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-right: 25px;
    border-radius: 10px;
    transition: color 0.3s linear;
    background: #ffffff;
    color: #000000;
    padding: 0.3em 0.3em;
     -webkit-transition: 0.9s; /* плавный переход  */
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
}

.nav-active:hover {
    color:#31ff00;
    background: none;
}



.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;

    transition: color 0.3s linear;
}

.num:hover {
    color: #d81d1d;
}

.phone-text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.phone-holder {
    display: flex;
    align-items: center;
}


.header-down {
    position: relative;
}

.header-title {
    color: #31ff00;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 400;

    text-align: center;
    position: absolute;
    left: 0;

    margin-top: 10px;
    margin-bottom: 132px;
}



.container {
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
}


.signupFrm{
    margin-top: 80px;
    display: flex;
   
    
}

.form {
  background-color: white;
  width: 400px;
  border-radius: 40px;
  padding: 10px 20px;
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: purple;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.submitBtn:hover {
  background-color: #9867C5;
  transform: translateY(-2px);
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: purple;
}

.input:focus {
  border: 2px solid purple;
}

.input:not(:placeholder-shown)+ .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

/* style-schedule.css */

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: #101010;
}

.container {
    margin-left: auto;
    margin-right: auto
}

.header {
    background-image: url(bg1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.header-line {
    padding-top: 50px;
    display: flex;
    
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: #31ff00;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-right: 25px;
    border-radius: 10px;
    transition: color 0.3s linear;
    -webkit-transition: 0.9s; /* плавный переход  */
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
     padding: 0.3em 0.3em;
     
}

.nav-item:hover {
    color: #000000;
    background: #ffffff;
}

.nav-active {
    color: #ffe200;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-right: 25px;
    border-radius: 10px;
    transition: color 0.3s linear;
    background: #ffffff;
    color: #000000;
    padding: 0.3em 0.3em;
     -webkit-transition: 0.9s; /* плавный переход  */
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
}

.nav-active:hover {
    color:#31ff00;
    background: none;
}



.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;

    transition: color 0.3s linear;
}

.num:hover {
    color: #d81d1d;
}

.phone-text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.phone-holder {
    display: flex;
    align-items: center;
}


.header-down {
    position: relative;
}

.header-title {
    color: #31ff00;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 400;

    text-align: center;
   

    margin-top: 10px;
    margin-bottom: 132px;
}



.container {
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
}



.btn {
   color: #31ff00;
    background: none;
    text-decoration: none;
    border:none;
    font-weight: 700;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-right: 10px;
    border-radius: 10px;
    transition: color 0.3s linear;
    -webkit-transition: 0.9s; /* плавный переход  */
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
     padding: 0.3em 0.3em;
     
}

.btn:hover {
    color:#000000;
    background: #ffffff;
}

.btn:active{
     color:#000000;
    background: #ffffff;  
}


.button-schedule{
    display:inline-flex;
    margin-left: -50px;
    margin-top: -200px;
}

.button-schedule1{
    display:inline-flex;
    margin-left: 150px;
    margin-top: 20px;
    
}

.button-schedule2{
    display:inline-flex;
    margin-left: 50px;
    margin-top: 20px;
    
}

table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
text-align: left;
border-collapse: separate;
border-spacing: 5px;
background: #ECE9E0;
color: #000000;
border: 16px solid #ECE9E0;
border-radius: 20px;
}
th {
font-size: 18px;
padding: 10px;
}
td {
background: #ffffff;
padding: 10px;
}

/* style-schedule speed.css */

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: #101010;
}

.container {
    margin-left: auto;
    margin-right: auto
}

.header {
    background-image: url(bg1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.header-line {
    padding-top: 50px;
    display: flex;
    
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: #31ff00;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-right: 25px;
    border-radius: 10px;
    transition: color 0.3s linear;
    -webkit-transition: 0.9s; /* плавный переход  */
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
     padding: 0.3em 0.3em;
     
}

.nav-item:hover {
    color: #000000;
    background: #ffffff;
}

.nav-active {
    color: #ffe200;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-right: 25px;
    border-radius: 10px;
    transition: color 0.3s linear;
    background: #ffffff;
    color: #000000;
    padding: 0.3em 0.3em;
     -webkit-transition: 0.9s; /* плавный переход  */
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
}

.nav-active:hover {
    color:#31ff00;
    background: none;
}



.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;

    transition: color 0.3s linear;
}

.num:hover {
    color: #d81d1d;
}

.phone-text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.phone-holder {
    display: flex;
    align-items: center;
}


.header-down {
    position: relative;
}

.header-title {
    color: #31ff00;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 400;
    
    text-align: center;
   

    margin-top: 250px;
    margin-bottom: 132px;
}



.container {
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
}



table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
text-align: left;
border-collapse: separate;
border-spacing: 5px;
background: #ECE9E0;
color: #000000;
border: 16px solid #ECE9E0;
border-radius: 20px;
}
th {
font-size: 18px;
padding: 10px;
}
td {
background: #ffffff;
padding: 10px;
}