{% include 'base.html' %}

<section class="class">
    <div class="class-table">
        <h3 class="class-h2 class-menu-h3">Журнал посещаемости</h3>

{% block content %}
	<form action="/attend" method="post" name="list">
		<p><select class="choice" name="group">
			<option>Выберите группу</option>
			{% for g in group -%}
				<option value="{{ g.id }}">{{ g.schedule_group_text }}</option>
			{% endfor -%}
		</select></p>
        <p><select class="choice" name="teacher">
            <option>Выберите преподавателя</option>
            {% for t in teacher -%}
                <option value="{{ t.id }}">{{ t.schedule_teacher_text }}</option>
            {% endfor -%}
        </select></p>
        <p><select class="choice" name="subj">
            <option>Группа</option>
            {% for n in subj -%}
            <option value="{{ n.id }}">{{ n.schedule_name_text }} {{ n.schedule_name_text_type }}</option>
            {% endfor -%}
        </select></p>
		<p><input type="submit" value="Отправить"></p>
	</form>
{% endblock %}

        <!-- <table cellspacing="0">
            <tr>
                <th>ФИО</th>
                {% for a in attend %}
                <th>{{a.date}}</th>
                {% endfor %}
                <td>Отметка об отработках</td>
            </tr>
            {% for a in attend %}
            <tr>
                <td>{{a.full_name}}</td>
                {% for b in attend %}
                <th>{{b.presence}}</th>
                {% endfor %}
                <td></td>
            </tr>{% endfor %}
        </table> -->
    </div>
</section>