{% include 'base.html' %} 

<section class="class">
    <div class="class-table">
        <h3 class="class-h2 class-menu-h3"> Журнал посещаемости </h3>
        <table cellspacing="0">
            <tr>
                <th>Номер по списку</th>
                <th>ФИО</th>
                <th></th>
                <th>Пропущенно занятий</th>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
</div>
</section>