{% include 'base.html' %}

<section class="class">
    <div class="class-table">
        <h3 class="class-h2 class-menu-h3">Журнал посещаемости</h3>

{% block content %}
	<form action="/attend" method="post" name="list">
		<p><select name="group">
			<option>Выберите группу</option>
			{% for g in group -%}
				<option value="{{ g.id }}">{{ g.schedule_group_text }}</option>
			{% endfor -%}
		</select></p>

            {% for t in teacher -%}
                {% if t==user %}
                    <p>Преподаватель: {{ t.schedule_teacher_text }}</p>
                {% endif %}
            {% endfor -%}

        <p><select name="subj">
            <option>Выберите дисциплину</option>
            {% for n in subj -%}
                <!-- если совпадает user и teacher id предмета в таблице attend list -->
                <option value="{{ n.id }}">{{ n.schedule_name_text }} {{ n.schedule_name_text_type }}</option>
            {% endfor -%}
        </select></p>
		<p><input type="submit" value="Отправить"></p>
	</form>
{% endblock %}

        <table cellspacing="0">
            <tr>
                <th>ФИО</th>
                {% for a in attend %}
                <th>{{a.date}}</th>
                {% endfor %}
                <td>Отметка об отработках</td>
            </tr>
            {% for b in attend %}
            <tr>
                <td>{{b.full_name}}</td>
                {% for c in attend %}
                <th>{{c.presence}}</th>
                {% endfor %}
                <td></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>