{% include 'base.html' %}

{% block content %}
    <form action="/login" method="post" class="form">
        <p><input class="input" placeholder="Ваш email" type="text" name="email" value="" requied />
        <p><input class="input" placeholder="Ваш пароль" type="password" name="psw" value="" requied />
         <!--<p><input type="checkbox" name="remainme" /> Запомнить меня-->
        <p><input type="submit" class="form-sub" value="Bойти" />
        <hr align-left width="300px">
        <p><a class="form-sub" href="{{url_for('register')}}"> Регистрация </a>
    </form>
{% endblock %}