{% include 'base.html' %}

{% block content %}
	<form action="/schedule_aud" method="post" name="list">
		<p><select class="choice" name="aud">
			<option>Выберите из списка</option>
			{% for a in aud -%}
				<option value="{{ a.id }}">{{ a.schedule_aud_text }}</option>
			{% endfor -%}
		</select></p>
		<p><input type="submit" class="form-sub" value="Отправить"></p>
	</form>
{% endblock %}



<script>
function myFunction() {
  const previousRow = {};
  const colsChanged = {};
  let dark = false;

	Array.from(document.querySelectorAll('tbody tr')).forEach((tr, rowIdx) => {
    Array.from(tr.children).forEach((td, colIdx) => {
      if (rowIdx > 0 && colIdx<2 && previousRow[colIdx].text === td.innerText) {
        previousRow[colIdx].elem.setAttribute('rowspan', ++previousRow[colIdx].span);
        colsChanged[colIdx] = false;
        td.remove();
      } else {
        previousRow[colIdx] = { span: 1, text: td.innerText, elem: td, dark };
        colsChanged[colIdx] = true;
      }
    });
    const rowChanged = Object.values(colsChanged).every(Boolean);
    dark = rowChanged && rowIdx > 0 ? !dark : dark;
    if (dark) {
      tr.classList.add('dark');
    }
  });
}
</script>

<body onload="myFunction()">
	<table class="iksweb", border="1">
		<tbody>
		{% for m in schedule -%}
			<tr>
				<td>{{m.schedule_group_id}}</td>
				<td>{{m.schedule_day_id}}</td>
				<td>{{m.schedule_place_id}}</td>
				<td>{{m.schedule_number_id}}</td>
				<td>{{m.schedule_time_id}}</td>
				{% if m.p_g %}
					<td>{{m.p_g}}</td>
				{% else %}
					<td></td>
				{% endif %}
				<td>{{m.schedule_name_id}}</td>
				<td>{{m.schedule_type_id}}</td>
				<td>{{m.schedule_teacher_id}}</td>
				<td>{{m.schedule_aud_id}}</td>
			</tr>
		{% endfor -%}
		</tbody>
	</table>

<center><a href="schedule_global" class="form-shedule">Расписание по группам</a>
<a href="schedule_teacher" class="form-shedule">Расписание по преподователям</a></center>

</body>