{% include 'base.html' %}

{% block content %}
<form action="/schedule_redactor" method="post" name="list">
	<p><select name="group">
		<option>Выберите из списка</option>
		{% for g in group -%}
		<option value="{{ g.schedule_group_text }}">{{ g.schedule_group_text }}</option>
		{% endfor -%}
	</select></p>
	<p><input type="submit" value="Отправить"></p>
</form>

<form action="/schedule_redactor" method="post" name="list">
	<p><select name="group">
		<option>Выберите из списка</option>
		{% for g in group -%}
		<option value="{{ g.schedule_teacher_text }}">{{ g.schedule_teacher_text }}</option>
		{% endfor -%}
	</select></p>
	<p><input type="submit" value="Отправить"></p>
</form>


{% endblock %}

<p>{{ group.schedule_group_text }}</p>
{% for g in group -%}
	<option>{{ g.schedule_group_text }}</option>
{% endfor -%}

<script>
function myFunction() {
  const previousRow = {};
  const colsChanged = {};
  let dark = false;

  Array.from(document.querySelectorAll('tbody tr')).forEach((tr, rowIdx) => {
    Array.from(tr.children).forEach((td, colIdx) => {
      if (rowIdx > 0 && previousRow[colIdx].text === td.innerText) {
        previousRow[colIdx].elem.setAttribute('rowspan', ++previousRow[colIdx].span);
        colsChanged[colIdx] = false;
        td.remove();
      } else {
        previousRow[colIdx] = { span: 1, text: td.innerText, elem: td, dark };
        colsChanged[colIdx] = true;
      }
    });
    const rowChanged = Object.values(colsChanged).every(Boolean);
    dark = rowChanged && rowIdx > 0 ? !dark : dark;
    if (dark) {
      tr.classList.add('dark');
    }
  });
}
</script>
<body onload="myFunction()">
	<table class="iksweb", border="1">
		<tbody>
		{% for m in schedule -%}
			<tr>
				<td>{{m.schedule_day_id}}</td>
				<td>{{m.schedule_place_id}}</td>
				<td>{{m.schedule_number_id}}</td>
				<td>{{m.schedule_time_id}}</td>
				<td>{{m.schedule_name_id}}</td>
				<td>{{m.schedule_type_id}}</td>
				<td>{{m.schedule_teacher_id}}</td>
				<td>{{m.schedule_aud_id}}</td>
			</tr>
		{% endfor -%}
		</tbody>
	</table>
</body>
<p>Добавить предмет</p>
<form action="/login" method="post" class="form-contact">
	<p><select name="schedule_group_id">
		<option>Выберите группу</option>
		{% for g in group -%}
		<option value="{{ g.id }}">{{ g.schedule_group_text }}</option>
		{% endfor -%}
	</select></p>
		<p><select name="schedule_name_id">
		<option>Выберите предмет</option>
		{% for n in name -%}
		<option value="{{ n.id }}">{{ n.schedule_name_text }} {{ n.schedule_name_text_type }}</option>
		{% endfor -%}
	</select></p>
		<p><select name="schedule_day_id">
		<option>Выберите день недели</option>
		<option value="1">Понедельник</option>
		<option value="2">Вторник</option>
	</select></p>
		<p><select name="schedule_place_id">
		<option>Выберите неделю</option>
		<option value="1">Верхняя</option>
		<option value="2">Нижняя</option>
	</select></p>
		<p><select name="schedule_time_id">
		<option>Выберите время</option>
		<option value="1">900</option>
		<option value="2">1040</option>
	</select></p>
		<p><select name="schedule_teacher_id">
		<option>Выберите преподователя</option>
		{% for t in teacher -%}
		<option value="{{ t.id }}">{{ t.schedule_teacher_text }}</option>
		{% endfor -%}
	</select></p>
		<p><select name="schedule_aud_id">
		<option>Выберите аудиторию</option>
		{% for a in aud -%}
		<option value="{{ a.id }}">{{ a.schedule_aud_text }}</option>
		{% endfor -%}
	</select></p>
<p><input type="submit" value="Добавить" />
</form>